<p-table #castTable [value]="casts" [style]="{'overflow':'auto!important'}"
[resizableColumns]="true" columnResizeMode="expand"
[responsive]="true" [autoLayout]="true" [paginator]="true" [rows]="10" [globalFilterFields]="['name']">
  <ng-template pTemplate="caption">
    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
    <input type="text" pInputText size="50" placeholder="Global Filter" (input)="castTable.filterGlobal($event.target.value, 'contains')" style="width:auto">
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Provider</th>
      <th>Category</th>
      <th [pSortableColumn]="name">Name</th>
      <th>Episodes</th>
      <th [pSortableColumn]="releasedAt">Relased At</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-cast>
    <tr>
      <td>{{cast.provider}}</td>
      <td>{{cast.category}}</td>
      <td (click)="showEpisodes($event, cast)"><img src='{{cast.image}}' width='40'>{{cast.name}}</td>
      <td>{{cast.episodes.length}}</td>
      <td>{{cast.releasedAt | timeAgo}}</td>
    </tr>
  </ng-template>
</p-table>
<app-popup [cast]="selectedCast"></app-popup>
